html {
    --bg: rgb(15, 25, 76);
    --text-color: rgb(0, 253, 190);
    --card-color: rgb(0, 101, 141);
    --card-button: rgba(108, 127, 134, 0.7);
    --card-button-hover: rgba(0, 201, 151, 0.7);
}

* {
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
*::-webkit-scrollbar {
    display: none;
}

html, body {
    background: var(--bg);
    color: var(--text-color);
    
}

.grid-container {
    display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 45%;
}

.marginleftright {
    margin-left: 1%;
    margin-right: 1%;
}


.griditem {
    padding: 0px;
}

.textcolor {
    color: var(--text-color) !important;
}

.foot {
    background: var(--card-color) !important;
}

.spacer {
    margin-bottom: 10%;
}

.skills {
    margin-top: 15%;
    margin-bottom: 1%;
    color: var(--text-color);
}

.bars {
    margin-left: 5%;
    margin-right: 5%;
}

.python {color: black !important; background-image: none; background-color: #FFD43B !important;}
.linux {color: black !important; background-image: none; background-color: #fffb00 !important;}
.csharp {color: black !important; background-image: none; background-color: #ac009d !important;}

.header {
    margin-top: 7%;
    color: var(--text-color);
    background: var(--bg);
}
div.hidden
{
    display: none
}

.links {
    margin-top: 5%;
    margin-left: 2%;
    color: var(--text-color);
    background-color: var(--bg);
    overflow-x: hidden;

}

.row {
    text-align: center;
    margin: 0 auto;
}

.image {
    object-fit: none;
}

.btn-color {
    background-color: var(--text-color) !important;
}

.btn-color:hover {
    background-color: var(--card-button-hover) !important;
}

.card {
    color: var(--text-color);
    background: var(--card-color) !important;
}

.row .col-md-3 {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.no_underline {
    text-decoration: none;
}

.header {
    transition-duration: 0.2s;
    color: var(--text-color);
}
.header:hover {
    color: gray;
}